// COLOURS
$primary-color: #15ACCA;
$secondary-color: #92E35A;
$flair-color: #FBDE17;
$alomst-white: rgb(245, 234, 234);
$alomst-black: rgba(19, 18, 18, 0);
// Gradient-colors
$primary-color-dark: #78B84C;
$primary-color-medium: #8ABF65;
$primary-color-light: #B2DC96;
$secondary-color-dark:#15ACCA;
$secondary-color-medium:#53BED3;
$secondary-color-light:#91DDEC;