// COLOURS
$primary-color: #15ACCA;
$secondary-color: #92E35A;
$flair-color: #FBDE17;
$almost-white: rgb(245, 234, 234);
$almost-black: rgb(19, 18, 18);
$dark-grey: rgb(72, 69, 69);
// Gradient-colors
$primary-color-dark: #78B84C;
$primary-color-medium: #8ABF65;
$primary-color-light: #B2DC96;
$secondary-color-dark:#15ACCA;
$secondary-color-medium:#53BED3;
$secondary-color-light:#91DDEC;

// FONT-SIZES

$font-size-xl: 3.2rem;
$font-size-large: 3rem;
$font-size-medium: 2rem; // font-weight: 200
$font-size-small: 1.2rem;