.pattern{
    position: absolute;
}

// ABOUT-SECTION BACKGROUND ICONS

.half-circle{
    top: -3.5rem;
    left: 0;
}
.zig-zag{
    top: 8rem;
    right: 2rem;
}
.triangle{
    bottom: 34%;
    left: 2rem;
}
.dots{
    bottom: -12rem;
    right: 0;
}

// PRICING-SECTION BACKGROUND ICONS


