.btn{
    background-color: transparent;
    border: none;
    padding: 1rem 3rem;
    border-radius: 2rem;
    &:hover{
        cursor: pointer;
    }
}

.cta-btn{
    background-color: $primary-color;
    color: $almost-white;
    padding: 1.2rem 3.5rem;
    font-size: $font-size-medium;
    letter-spacing: .1rem;
    font-weight: 200;
    &:hover{
        cursor: pointer;
    }
}