.card {
  // background-color: green;
  height: 60rem;
  width: 100%;
  max-width: 440px;
  background-repeat: no-repeat;
  background-size: cover;
  color: $almost-white;
  border-bottom-left-radius:.5rem ;
  border-bottom-right-radius: .5rem;
  // margin: 0 auto;
  &__content {
    width: 100%;
    height: 100%;
    padding: 4.3rem 2.8rem 1.5rem;
    position: relative;
  }
  &__title {
    font-weight: 300;
    font-size: $font-size-large;
  }
  &__price {
    font-size: $font-size-medium;
    font-weight: 200;
  }
  &__underline {
    height: 0.1rem;
    width: 75%;
    background-color: $almost-white;
    // text-align: center;
    margin: 1rem auto;
  }
  &__body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 75%;
  }
  &__list {
    list-style-position: inside;
    &--item {
      max-width: 18rem;
      list-style-type: none;
      position: relative;
      margin: 0 auto; 
      font-size: $font-size-small;
      p {
        display: inline;
      }
      &:before{
        content: " ";
        border: 1rem solid $almost-white;
        border-radius: 99rem;
        height: 0;
        width: 0;
        position: absolute;
        left: -16%;
        top: 0.5rem;
        @include respond (tab-port){
          left: -25%;
        }
      }
    }
    &--item:not(:first-child) {
      margin-top: 3rem;
    }
  }
  &__btn {
    color: $almost-white;
    font-size:$font-size-medium;
    border: 3px solid $almost-white;
  }
}

.pricing__cards--1 {
  background-image: url("/svgs/card-background-blue.svg");
}

.pricing__cards--2 {
  background-image: url("/svgs/card-background-green.svg");
}
