.card{
    // background-color: green;
    height: 60rem;
    width: 100%;
    position: relative;
    // margin: 0 auto;
    max-width: 440px;
    &__content{
        height: 100%;
        width: 100%;
    }
    &__background{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

@media (min-width:387px){
    .card__background{
        object-fit: contain;
    }
}