.nav {
  height: 10vh;
  width: 100vw;
  background-color: $primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4rem;
  &-left {
    display: flex;
    align-items: center;
  }
  //
  &__logo{
    color: $secondary-color;
    font-size: 1.5rem;
  }
  // 
  &__links{
    display: none;
    @include respond (tab-land){
      display: block;
    }
    margin-left: 4rem;
    &-item:link,
    &-item:visited{
      margin-right: 2rem;
      text-decoration: none;
      color: $almost-white;
      font-weight: 300;
      font-size: .9rem;
    }
  }
  // 
  &-right{
    display: flex;
    align-items: center;
  }
  &__btns{
    @include respond (tab-land){
      display: block;
    }
    display: none;
    &-btn:link,
    &-btn:visited{
      margin-left: 4rem;
      font-size: .8rem;
      padding: .4rem 1.4rem;
      border: 1px solid $almost-white;
      text-decoration: none;
      color: $almost-white;
      border-radius: 8px;
    }
    &-btn:first-child{
      background-color: darken($secondary-color,17%);
      color: $almost-white;
      border: none;
    }
  }
}

.burger {
  &__line { // Temp
    @include respond (tab-land){
      display: none;
    }
    height: 3px;
    width: 2rem;
    background-color: $almost-white;
    margin: 0.4rem 0;
    border-radius: 10px;
  }
}
