.side-nav{
    position: fixed;
    transition: ease-in .4s;
    z-index: 1000;
    transform: translateX(-100%); // temp
    padding: 2rem 0;
    width: 65%;
    max-width: 225px;
    height: 100vh;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    &-close{
        position: absolute;
        top: .5rem;
        right: 1rem;
        &__icon{
            width: 2.5rem;
            height: 2.5rem;
            fill: $almost-white;
        }
    }
    &__logo{
        width: 100%;
        padding: 2rem;
        font-size: $font-size-medium;
        font-weight: 200;
        color: $secondary-color;
        text-align: center;
        border-bottom: 1px solid $almost-white;
    }
    &__list{
        padding: 6rem;
        // height: 40%;
        // width: 100%;
    &-item{
        width: 100%;
        margin-bottom: 4rem;
        list-style: none;
        font-size: $font-size-small;
        text-align: center;
        a:link,
        a:visited{
        text-decoration: none;
        color: $almost-white;
            }
        }
    }
}



// SIDENAVIGATION ACTIVE BACKGROUND
.side-nav-background{
    // display: none; // temp
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba($almost-black,.4);
    backdrop-filter: blur(10px);
    visibility: hidden;
    opacity: 0;
    transition: ease-in .1s; // ??
}

// UNDERLINE STYLE
.underline{
    margin-top: .5rem;
    height: .1rem;
    width: 100%;
    background-color: $secondary-color;
}