html{
    font-size: 62.5%; // 1rem = 10px (Default was 16px)
    @include respond (tab-port){
        font-size: 75%; // 1rem = 12px
    }
    @include respond (desk){
        font-size: 87.5%; // 1rem = 14px
    }
}

body{
    font-family: 'Poppins', sans-serif;
    color: $almost-black;
}