.footer{
    text-align: center;
    background-color: $primary-color;
    padding: 3rem;
    @include respond (desk) {
        display: flex;
    }
    // Sign-up & socials
    &-sign-up{
        margin: 0 auto;
        max-width: 45.5rem;
        @include respond (desk) {
            order: 2;
        }
    }
    &__title{
        color: $almost-white;
        font-weight: 300;
        font-size: 2.8rem;
    }
    &__btn{
        background-color: $flair-color;
        font-size: 2rem;
        margin: 6rem 0;
        @include respond (desk) {
        margin: 9rem 0;
        }
    }
    &__social-icons{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    // Footer Navigation Links
    &-nav{
        margin: 4rem auto;
        max-width: 45.5rem;
        @include respond (desk) {
            margin-top: 0;
        }

        &--1{
            @include respond (desk) {
                order: 1;
            }
        }
        &--2{
            @include respond (desk) {
                order: 3;
            }
        }

        &__title{
            font-size: 2.4rem;
            font-weight: 300;
            color: $almost-white;
            margin: 2rem 0;
        }
        &__list{
            list-style-type: none;
            &-item{
                margin: 1rem 0;
                font-size: 1.2rem;
                font-weight: 300;
                a:link,
                a:visited{
                    text-decoration: none;
                    color: $almost-white;
                }
            }
        }
    }
}