.footer{
    text-align: center;
    background-color: $primary-color;
    padding: 3rem;
    // Sign-up & socials
    &-sign-up{
        margin: 4rem auto;
        max-width: 45.5rem;
    }
    &__title{
        color: $almost-white;
        font-weight: 300;
        font-size: 2.8rem;
    }
    &__btn{
        background-color: $flair-color;
        font-size: 2rem;
        margin: 6rem 0;
    }
    &__social-icons{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    // Footer Navigation Links
    &-nav{
        margin: 4rem auto;
        max-width: 45.5rem;
        &__title{
            font-size: 2.4rem;
            font-weight: 300;
            color: $almost-white;
            margin: 2rem 0;
        }
        &__list{
            list-style-type: none;
            &-item{
                margin: 2rem 0;
                font-size: 1.4rem;
                font-weight: 300;
                a:link,
                a:visited{
                    text-decoration: none;
                    color: $almost-white;
                }
            }
        }
    }
}