.header {
  width: 100vw;
  height: 80vh;
  padding: 3rem;
  background: linear-gradient(rgba(21, 172, 202, 0.65),
  rgba(21, 172, 202, 0.65)),
  url("/images/header-background-img-mob.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  text-align: center;
  color: $almost-white;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  // Media Queries
  @include responsiveImgs (resImg){
  background-image: linear-gradient(rgba(21, 172, 202, 0.65),
rgba(21, 172, 202, 0.65)),
  url("/images/header-background-img-big.jpg");
  background-position: 65% 100%;
  }
  //
  @include responsiveImgs (largeImg){
    background-image: linear-gradient(rgba(21, 172, 202, 0.65),
  rgba(21, 172, 202, 0.65)),
    url("/images/header-background-img-xl.jpg");
    background-size: 100% 101%;
  }
  //
  &__title-box{
    font-size: 2.8rem;
    color: $secondary-color;
    letter-spacing: .6rem;
    height: 9rem;
    width: 25rem;
    overflow: hidden;
    position: relative;
  }
  //
  &__title-wrap{
    display: flex;
    gap: 5rem;
    transform: translateX(0%);
    animation: infinite 30s greetingHeaderBox ease-out;
  }
  &__title{
    font-weight: 300;
    // margin-right: 6rem;
    // position: absolute;
  }
  .title--1{
    // transform: translateX(100%);
    // animation: infinite 4s greetingHeader ease-out;
  }
  // TRY GIVING INDIVIDUAL WIDTH & HEIGHT
  .title--2,
  .title--3,
  .title--4,
  .title--5,
  .title--6{
    // transform: translateX(100%);
  }
  //
  &__text {
    // margin-top: 4rem;
    font-size: 1.8rem;
    p:first-child{
      margin-bottom: 1rem;
    }
    span{
      color: $secondary-color;
    }
  }
}
