.header {
  width: 100vw;
  height: 85vh;
  padding: 4rem;
  background: linear-gradient(rgba(21, 172, 202, 0.65),
  rgba(21, 172, 202, 0.65)),
  url("/images/header-background-img-mob.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  text-align: center;
  color: $almost-white;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  // Media Queries
  @include responsiveImgs (resImg){
  background-image: linear-gradient(rgba(21, 172, 202, 0.65),
rgba(21, 172, 202, 0.65)),
  url("/images/header-background-img-big.jpg");
  background-position: 65% 100%;
  }
  //
  @include responsiveImgs (largeImg){
    background-image: linear-gradient(rgba(21, 172, 202, 0.65),
  rgba(21, 172, 202, 0.65)),
    url("/images/header-background-img-xl.jpg");
    background-size: 100% 101%;
  }
  //
  &__title{
    font-size: 2.8rem;
    color: $secondary-color;
    letter-spacing: .6rem;
    h1{
      font-weight: 300;
    }
    &--2,
    &--3,
    &--4,
    &--5,
    &--6{
      display: none; // temp
    }
  }
  &__text {
    margin-top: 8rem;
    font-size: 1.8rem;
    p:first-child{
      margin-bottom: 1rem;
    }
    span{
      color: $secondary-color;
    }
  }
}
