.header {
  width: 100vw;
  height: 80vh;
  padding: 3rem;
  background: linear-gradient(rgba(21, 172, 202, 0.65),
  rgba(21, 172, 202, 0.65)),
  url("/images/header-background-img-mob.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  text-align: center;
  color: $almost-white;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  // Media Queries
  @include responsiveImgs (resImg){
  background-image: linear-gradient(rgba(21, 172, 202, 0.65),
rgba(21, 172, 202, 0.65)),
  url("/images/header-background-img-big.jpg");
  background-position: 65% 100%;
  }
  //
  @include responsiveImgs (largeImg){
    background-image: linear-gradient(rgba(21, 172, 202, 0.65),
  rgba(21, 172, 202, 0.65)),
    url("/images/header-background-img-xl.jpg");
    background-size: 100% 101%;
  }
  //
  &__title-box{
    font-size: 2.8rem;
    color: $secondary-color;
    letter-spacing: .6rem;
    // height: 100%;
    // width: 100%;
    height: 15rem; // when the main-container
    width: 100%; // when the main-container
    max-width: 650px; // when the main-container
    // display: flex;
    overflow: hidden; // WAS ON
    position: relative;
  }
  //
  &__title-wrap{
    height: 100%;
    width: 100%;
    display: grid;
    position: absolute; // WAS ON
    // margin: 0 4rem;
    top: 0;
    left: 0;
    align-content: center;
    transition: all 1s;
    //
    // (SUPER OLD STYLES)
    // display: flex; // was on
    // gap: 5rem;
    // transform: translateX(0%); // was on
    // animation: infinite 30s greetingHeaderBox ease-out; // was on
  }
  &__title{
    font-weight: 300;
    // margin-right: 6rem;
    // position: absolute;
  }
  .title--1{
    // transform: translateX(100%);
    // animation: infinite 4s greetingHeader ease-out;
  }
  // TRY GIVING INDIVIDUAL WIDTH & HEIGHT
  .title--2,
  .title--3,
  .title--4,
  .title--5,
  .title--6{
    // transform: translateX(100%);
  }
  //
  &__text {
    // margin-top: 4rem;
    font-size: 1.8rem;
    p:first-child{
      margin-bottom: 1rem;
    }
    span{
      color: $secondary-color;
    }
  }
}

// // inner greeting wrap (MIGTH NOT NEED)
// .greeting-slide{
//   // animation: infinite greetingTwo 10s;
//   height: 100%;
//   width: 100%;
// }

// .header-greeting-container{
//   // height: 15rem;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 50%;
//   overflow: hidden;
// }