.pricing {
  text-align: center;
  padding: 3rem;
  position: relative;
  &__title {
    font-weight: 300;
    font-size: 2.8rem;
    max-width: 35rem;
    margin: 6rem auto;
    // margin-bottom: 6rem;
    span {
      color: $secondary-color;
    }
  }
  &__text {
    // margin-top: 2.5rem;
    margin: 2.5rem auto 0;
    font-size: 1.2rem;
    line-height: 2rem;
    max-width: 45.5rem;
  }
  &__cards {
    margin: 6rem 0;
    @include respond(desk) {
      display: flex;
      max-width: 75rem;
      margin: 6rem auto;
    }
    &--1,
    &--2 {
      margin: 6rem auto;
    }
    &--1 {
      background-image: url("/svgs/card-background-blue.svg");
    }
    &--2 {
      background-image: url("/svgs/card-background-green.svg");
    }
  }
}
