.testimonial {
  height: 90vh;
  width: 100%;
  padding: 3rem;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/testimonal-backgrounds.jpg");
  // 
  @include responsiveImgs (resImg){
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/images/testimonal-backgrounds-big.jpg");
    background-position: 40% 100%;
  }
  background-repeat: no-repeat;
  background-size: cover;
  color: $almost-white;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  &-inner-wrapper{
    height: 100%;
    width: 90%;
    max-width: 60rem;
    margin: 0 auto;
    position: relative;
  }
  &__title {
    font-size: $font-size-medium;
    font-weight: 200;
  }
}




